.header {
  background-color: #162632;
  border-bottom: solid 2px green;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 5rem;
            padding: 1rem 0rem ;
        }
        h1{
            color: #bbffbb;
            padding-left: 1rem;
        }
    }

    ul {
      display: flex;
      list-style: none;
      color: #bbffbb;
    }
    li:first-child {
        padding-right: 1rem;
    }
}
}
