.add-dragon-button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 20vw;
}


@media (max-width: 680px) {
    .add-dragon-button-container{
        margin-right: 10vw;
    }

}
