.header {
  background-color: #162632;
  border-bottom: solid 2px green;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-container .logo-container img {
  height: 5rem;
  padding: 1rem 0rem;
}

.header .header-container .logo-container h1 {
  color: #bbffbb;
  padding-left: 1rem;
}

.header .header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #bbffbb;
}

.header .header-container li:first-child {
  padding-right: 1rem;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login .login-container {
  background-color: #162632;
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  position: relative;
}

.login .login-container .flying-dragon {
  position: absolute;
  bottom: 27rem;
  width: 19rem;
  left: 43rem;
}

.login .login-container .login-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 7rem;
}

.login .login-container .login-info img {
  width: 15rem;
}

.login .login-container .login-info p {
  padding-top: 2rem;
  width: 20rem;
  text-align: justify;
  color: white;
}

.login .login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login-container .login-form h1 {
  padding-bottom: 1rem;
  color: white;
}

.login .login-container .login-form p {
  padding-top: 1rem;
  color: white;
}

.login .login-container .login-form input {
  margin-top: 1rem;
  padding: 0.4rem;
  width: 100%;
}

.login .login-container .login-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #1dc9a0;
  letter-spacing: 1px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 100%;
  margin-top: 1rem;
}

.login .login-container .login-form button:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #1dc9a0;
  color: #1dc9a0;
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
  margin-top: 2rem;
  cursor: pointer;
}

.login .login-container .login-form button:active {
  background-color: transparent;
  border-color: #1dc9a0;
  color: #1dc9a0;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.login .login-container .login-form button:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}

.background-container {
  position: relative;
}

.background-container .background-image {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
}
/*# sourceMappingURL=index.css.map */