.header {
  background-color: #162632;
  border-bottom: solid 2px green;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-container .logo-container img {
  height: 5rem;
  padding: 1rem 0rem;
}

.header .header-container .logo-container h1 {
  color: #bbffbb;
  padding-left: 1rem;
}

.header .header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #bbffbb;
  font-size: 1.2rem;
}

.header .header-container li {
  cursor: pointer;
}

.header .header-container li:first-child {
  padding-right: 1rem;
}

@media (max-width: 950px) {
  .header .header-container .logo-container img {
    height: 4rem;
    padding: 1rem 0rem;
  }
}

@media (max-width: 495px) {
  .header .header-container .logo-container img {
    height: 3rem;
  }
  .header .header-container .logo-container h1 {
    display: none;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login .login-container {
  background-color: #162632;
  border: 2px solid green;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  position: relative;
}

.login .login-container .flying-dragon {
  position: absolute;
  bottom: 27rem;
  width: 19rem;
  left: 43rem;
}

.login .login-container .login-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 7rem;
}

.login .login-container .login-info img {
  width: 11rem;
}

.login .login-container .login-info p {
  padding-top: 2rem;
  width: 20rem;
  text-align: justify;
  color: white;
}

.login .login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login-container .login-form h1 {
  padding-bottom: 1rem;
  color: white;
}

.login .login-container .login-form p {
  padding-top: 1rem;
  color: white;
}

.login .login-container .login-form input {
  margin-top: 1rem;
  padding: 0.4rem;
  width: 100%;
}

.login .login-container .login-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #162632;
  background-color: #bbffbb;
  letter-spacing: 1px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 100%;
  margin-top: 2rem;
}

.login .login-container .login-form button:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #bbffbb;
  color: #bbffbb;
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
  margin-top: 3rem;
  cursor: pointer;
}

.login .login-container .login-form button:active {
  background-color: transparent;
  border-color: #bbffbb;
  color: #bbffbb;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.login .login-container .login-form button:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}

@media (max-width: 1200px) {
  .login .login-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .login .login-container .flying-dragon {
    position: absolute;
    bottom: 27rem;
    width: 19rem;
    left: 80%;
  }
  .login .login-container .login-info {
    padding-right: 0rem;
    margin-top: 2rem;
  }
  .login .login-container .login-info img {
    width: 8rem;
  }
}

@media (max-width: 900px) {
  .login .login-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .login .login-container .flying-dragon {
    display: none;
    bottom: 27rem;
    width: 19rem;
    left: 80%;
  }
  .login .login-container .login-info {
    padding-right: 0rem;
    margin-top: 2rem;
  }
}

@media (max-width: 520px) {
  .login .login-container {
    height: 100vh;
    width: 100vw;
    padding: 0rem;
  }
  .login .login-container .login-info p {
    width: 90%;
  }
}

.dragon-card {
  background-color: #162632;
  border: 2px solid green;
  border-radius: 0.6rem;
  color: #bbffbb;
  padding: 1rem;
  margin: 2rem 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dragon-card h1 {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dragon-card .dragon-card-buttons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dragon-card .dragon-card-buttons li {
  cursor: pointer;
  padding-right: 1rem;
}

.dragon-card .dragon-card-buttons li:nth-child(3) {
  padding-right: 0rem;
}

@media (max-width: 680px) {
  .dragon-card {
    margin: 2rem 10vw;
  }
  .dragon-card h1 {
    font-size: 1.6rem;
  }
}

.add-drag-container {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-drag-container .add-dragon-form {
  border: solid green 2px;
  border-radius: 6px;
  padding: 5rem;
  background-color: #1a2d2d;
  color: #bbffbb;
  position: relative;
}

.add-drag-container .add-dragon-form img {
  position: absolute;
  height: 40%;
  top: 0rem;
  left: 26rem;
}

.add-drag-container .add-dragon-form h1 {
  width: 8rem;
}

.add-drag-container .add-dragon-form .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-drag-container .add-dragon-form .type-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-drag-container .add-dragon-form .add-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.add-drag-container .add-dragon-form .add-container button {
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (max-width: 720px) {
  .add-drag-container .add-dragon-form {
    padding: 3rem;
  }
  .add-drag-container .add-dragon-form img {
    display: none;
  }
}

@media (max-width: 430px) {
  .add-drag-container .add-dragon-form .name-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-drag-container .add-dragon-form .name-container h1 {
    margin-bottom: 1rem;
    width: 100%;
  }
  .add-drag-container .add-dragon-form .type-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-drag-container .add-dragon-form .type-container h1 {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.add-dragon-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20vw;
}

@media (max-width: 680px) {
  .add-dragon-button-container {
    margin-right: 10vw;
  }
}

.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #162632;
  background-color: #bbffbb;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin-top: 2rem;
  min-height: 2.2rem;
  min-width: 4rem;
}

.add-button:hover {
  border-color: #bbffbb;
  color: #bbffbb;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #162632;
  background-color: #e1372b;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin-top: 2rem;
  min-height: 2.2rem;
  min-width: 4rem;
}

.back-button:hover {
  border-color: #e1372b;
  color: #e1372b;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.edit-modal .edit-modal-shadow {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
}

.edit-modal .edit-modal-container {
  width: 60vw;
  height: 60vh;
  background-color: #162632;
  border-radius: 0.6rem;
  position: fixed;
  top: 20vh;
  right: 20vw;
}

.edit-modal .edit-modal-container .close-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 1.6rem 1.6rem;
}

.edit-modal h1 {
  text-align: center;
  color: #bbffbb;
  margin-bottom: 2rem;
}

.edit-modal .modal-edit-body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-modal .modal-edit-body .dragon-edit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.edit-modal .modal-edit-body .dragon-edit-content img {
  height: 10rem;
}

.edit-modal .modal-edit-body .dragon-edit-content .dragon-info {
  text-align: center;
}

.edit-modal .modal-edit-body .dragon-edit-content .dragon-info h2 {
  color: #bbffbb;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container {
  border: solid green 2px;
  border-radius: 6px;
  padding: 5rem;
  background-color: #1a2d2d;
  color: #bbffbb;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container h3 {
  width: 80px;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container .type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-modal .modal-edit-body .edit-modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-modal .modal-edit-body .edit-modal-buttons button {
  margin: 2rem;
}

@media (max-width: 1450px) {
  .edit-modal .edit-modal-container {
    width: 80vw;
    height: 80vh;
    top: 10vh;
    right: 10vw;
  }
}

@media (max-width: 1050px) {
  .edit-modal .modal-edit-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .edit-modal .modal-edit-body .dragon-edit-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .edit-modal .modal-edit-body .dragon-edit-content .dragon-info {
    display: none;
  }
}

@media (max-width: 650px) {
  .edit-modal .modal-edit-body .dragon-edit-content .form-container {
    width: 50%;
  }
  .edit-modal .modal-edit-body .dragon-edit-content .form-container .name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .edit-modal .modal-edit-body .dragon-edit-content .form-container .type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  .edit-modal .modal-edit-body .dragon-edit-content .form-container {
    width: 40%;
    padding: 3rem;
  }
  .edit-modal .modal-edit-body .dragon-edit-content .form-container input {
    margin-top: 1rem;
  }
  .edit-modal .modal-edit-body .dragon-edit-content .form-container .name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .edit-modal .modal-edit-body .dragon-edit-content .form-container .type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.view-modal .view-modal-shadow {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
}

.view-modal .view-modal-container {
  width: 60vw;
  height: 60vh;
  background-color: #162632;
  border-radius: 0.6rem;
  position: fixed;
  top: 20vh;
  right: 20vw;
}

.view-modal .view-modal-container .close-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 1.6rem 1.6rem;
}

.view-modal .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.view-modal .type-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-modal .date-container {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-modal h1 {
  text-align: center;
  color: #bbffbb;
}

.view-modal h3 {
  color: #bbffbb;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
  font-size: 2rem;
}

.view-modal .modal-edit-body {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-modal .modal-edit-body img {
  height: 50%;
  padding-top: 5%;
}

@media (max-width: 550px) {
  .view-modal h1 {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .view-modal h3 {
    margin-bottom: 1rem;
  }
  .view-modal .name-container {
    display: initial;
  }
  .view-modal .type-container {
    display: initial;
  }
  .view-modal .date-container {
    display: initial;
  }
  .view-modal .modal-edit-body img {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */