.header {
  background-color: #162632;
  border-bottom: solid 2px green;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-container .logo-container img {
  height: 5rem;
  padding: 1rem 0rem;
}

.header .header-container .logo-container h1 {
  color: #bbffbb;
  padding-left: 1rem;
}

.header .header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #bbffbb;
}

.header .header-container li:first-child {
  padding-right: 1rem;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login .login-container {
  background-color: #162632;
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  position: relative;
}

.login .login-container .flying-dragon {
  position: absolute;
  bottom: 27rem;
  width: 19rem;
  left: 43rem;
}

.login .login-container .login-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 7rem;
}

.login .login-container .login-info img {
  width: 15rem;
}

.login .login-container .login-info p {
  padding-top: 2rem;
  width: 20rem;
  text-align: justify;
  color: white;
}

.login .login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login-container .login-form h1 {
  padding-bottom: 1rem;
  color: white;
}

.login .login-container .login-form p {
  padding-top: 1rem;
  color: white;
}

.login .login-container .login-form input {
  margin-top: 1rem;
  padding: 0.4rem;
  width: 100%;
}

.login .login-container .login-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #162632;
  background-color: #bbffbb;
  letter-spacing: 1px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 100%;
  margin-top: 2rem;
}

.login .login-container .login-form button:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #bbffbb;
  color: #bbffbb;
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
  margin-top: 3rem;
  cursor: pointer;
}

.login .login-container .login-form button:active {
  background-color: transparent;
  border-color: #bbffbb;
  color: #bbffbb;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.login .login-container .login-form button:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}

.dragon-card {
  background-color: #162632;
  border: 2px solid green;
  border-radius: 0.6rem;
  color: #bbffbb;
  padding: 1rem;
  margin: 2rem 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dragon-card .dragon-card-buttons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dragon-card .dragon-card-buttons li {
  cursor: pointer;
  padding-right: 1rem;
}

.dragon-card .dragon-card-buttons li:nth-child(3) {
  padding-right: 0rem;
}

.add-drag-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-dragon-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20vw;
}

.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #162632;
  background-color: #bbffbb;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin-top: 2rem;
  min-height: 2.2rem;
  min-width: 4rem;
}

.add-button:hover {
  border-color: #bbffbb;
  color: #bbffbb;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: #162632;
  background-color: #e1372b;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin-top: 2rem;
  min-height: 2.2rem;
  min-width: 4rem;
}

.back-button:hover {
  border-color: #e1372b;
  color: #e1372b;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translateY(5px) scale(0.95);
          transform: translateY(5px) scale(0.95);
}

.edit-modal .edit-modal-shadow {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
}

.edit-modal .edit-modal-container {
  width: 60vw;
  height: 60vh;
  background-color: #162632;
  border-radius: 0.6rem;
  position: fixed;
  top: 20vh;
  right: 20vw;
}

.edit-modal .edit-modal-container .close-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 1.6rem 1.6rem;
}

.edit-modal h1 {
  text-align: center;
  color: #bbffbb;
  margin-bottom: 2rem;
}

.edit-modal .modal-edit-body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-modal .modal-edit-body .dragon-edit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-modal .modal-edit-body .dragon-edit-content .dragon-info {
  text-align: center;
}

.edit-modal .modal-edit-body .dragon-edit-content .dragon-info h2 {
  color: #bbffbb;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container {
  border: solid green 2px;
  border-radius: 6px;
  padding: 5rem;
  background-color: #1a2d2d;
  color: #bbffbb;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container h3 {
  width: 80px;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.edit-modal .modal-edit-body .dragon-edit-content .form-container .type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-modal .modal-edit-body .edit-modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-modal .modal-edit-body .edit-modal-buttons button {
  margin: 2rem;
}

.view-modal .view-modal-shadow {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
}

.view-modal .view-modal-container {
  width: 60vw;
  height: 60vh;
  background-color: #162632;
  border-radius: 0.6rem;
  position: fixed;
  top: 20vh;
  right: 20vw;
}

.view-modal .view-modal-container .close-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 1.6rem 1.6rem;
}

.view-modal h1 {
  text-align: center;
  color: #bbffbb;
  margin-bottom: 2rem;
}

.view-modal .modal-edit-body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */