.view-modal {
  .view-modal-shadow {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
  }

  .view-modal-container {
    width: 60vw;
    height: 60vh;
    background-color: #162632;
    border-radius: 0.6rem;
    position: fixed;
    top: 20vh;
    right: 20vw;

    .close-button-container {
      display: flex;
      justify-content: end;
      margin: 1.6rem 1.6rem;
    }
  }
  h1 {
    text-align: center;
    color: #bbffbb;
    margin-bottom: 2rem;
  }

  .modal-edit-body {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
