.view-modal {
  .view-modal-shadow {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
  }

  .view-modal-container {
    width: 60vw;
    height: 60vh;
    background-color: #162632;
    border-radius: 0.6rem;
    position: fixed;
    top: 20vh;
    right: 20vw;

    .close-button-container {
      display: flex;
    justify-content: flex-end;
      margin: 1.6rem 1.6rem;
    }
  }

  .name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .type-container {
    align-items: center;
    display: flex;
    width: 100%;

    justify-content: center;
  }

  .date-container {
    width: 100%;

    justify-content: center;

    display: flex;
    align-items: center;
  }

  h1 {
    text-align: center;
    color: #bbffbb;
  }

  h3 {
    color: #bbffbb;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1rem;
    font-size: 2rem;
  }

  .modal-edit-body {
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      height: 50%;
      padding-top: 5%;
    }
  }
}

@media (max-width: 550px) {
  .view-modal {
    h1 {
      text-align: left;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
    h3 {
      margin-bottom: 1rem;
    }

    .name-container {
      display: initial;
    }

    .type-container {
      display: initial;
    }

    .date-container {
      display: initial;
    }

    .modal-edit-body {
      img {
        display: none;
      }
    }
  }
}
