* {
  margin: 0px;
  font-family: 'Anek Tamil', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('https://media.discordapp.net/attachments/957014892500635669/962160334389518346/skye-background.png');
  background-color: #cccccc;
  position: relative;
}
